

.text-center {
  display: flex;
  align-items: center;
  
  padding-bottom: 40px;
  
}
.container{
  color:aliceblue;
  width:50%;
}
.btn
{
  width:200px;
}
.form-head
{
  font-size: 400%;
  text-align: center;
  margin: 10%;
  color:aliceblue;
  
}
.form-signin {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  margin-bottom:10%;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
