
body{
    background-color: rgb(25, 0, 58);
    color:aliceblue;
}
form{
    color:rgb(25, 0, 58)
}
.slider
{
    color:white;
}
footer{
    background-color: rgb(255, 243, 220);
    text-align: center;
    
    width:100%;
    margin-bottom: 0px;
    color:rgb(25, 0, 58);
    position: fixed;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 1000px) 
{
    nav
    {
        font-size: 200%;
    }
    .navbar-brand
    {
        font-size: 150%;
    }
}