
body{
    background-color: rgb(25, 0, 58);
    color:aliceblue;
}
form{
    color:rgb(25, 0, 58)
}
.slider
{
    color:white;
}
@media screen and (max-width: 1000px) 
{
    nav
    {
        font-size: 200%;
    }
    .navbar-brand
    {
        font-size: 150%;
    }
}