
body{
    background-color: rgb(25, 0, 58);
}
.home-text
{
    margin-top:15%;
    font-size: 350%;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    color: rgb(228, 227, 216);
}

.home-img
{
    margin-top:5%;
}