{% extends 'base.html' %}
{% block title%}Home {% endblock %}


{% block content%} 
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
    
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>


<link rel="stylesheet" href="../static/css/log_in.css">
<div class="text-center">
    
    <main class="form-signin">
      <form>
        
        <h1 class=" mb-3  form-head">Sign Up</h1>
        <br><br>
        <div class="form-floating ">
            <input type="name" class="form-control" id="floatingInput" placeholder="Name">
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating ">
            <input type="number" class="form-control" id="floatingInput" placeholder="Phone no.">
            <label for="floatingInput">Phone no.</label>
          </div>
        <div class="form-floating ">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <br><br>
        <button class="w-30 btn btn-outline-primary" type="submit">Sign Up</button>
        
      </form>
    </main>
  </div>
    {% endblock %}