{% extends 'base.html' %}
{% block title%}Home {% endblock %}


{% block content%} 
    <link rel="stylesheet" href="../static/css/teams.css">
    <div class="team">
    <div class="team-head">Our Team</div>
    <div class="container">
        <div class="row">
            <div class="col-sm home-img">
                <div class="card-container">
                     
                    <img class="round" src=" ../static/images/Abhraneel.png" alt="user" />
                    <h3>Abhraneel Saha</h3>
                    <h6> Indian Institute of Technology, Patna</h6>
                    <p>ML Analyst</p>
                    <!-- <p>Web developer</p> -->
                    <div class="buttons">
                        <button class="btn btn-outline-primary">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="btn btn-outline-primary">
                            <i class="fa fa-linkedin"></i>
                        </button>
                        <button class="btn btn-outline-primary">
                            <i class="fa fa-github"></i>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm home-text">
                <div class="col-sm home-img">
                    <div class="card-container">
                         
                        <img class="round" src=" ../static/images/asmit.png" alt="user" />
                        <h3>Asmit Ganguly</h3>
                        <h6> Indian Institute of Technology, Patna</h6>
                        <p>ML Analyst</p>
                        <!-- <p>Web developer</p> -->
                        <div class="buttons">
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-linkedin"></i>
                            </button>
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-github"></i>
                        </div>
                         
                    </div>
                </div>
            </div>
            <div class="col-sm home-text">
                <div class="col-sm home-img">
                    <div class="card-container">
                         
                        <img class="round" src="../static/images/shilpa.png" alt="user" />
                        <h3>Shilpa Kanjilal</h3>
                        <h6> Indian Institute of Technology, Patna</h6>
                        <!-- <p>ML Analyst</p> -->
                        <p>Web developer</p>
                        <div class="buttons">
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-linkedin"></i>
                            </button>
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-github"></i>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endblock %}